<site name="WebAPI_VSCodeDebug" id="2">
    <application path="/" applicationPool="Clr4IntegratedAppPool">
        <virtualDirectory path="/" physicalPath="C:\Users\ebertks\source\repos\WebAPI_Net45_VsCodeDebug\WebAPI_Net45_VsCodeDebug" />
    </application>
    <bindings>
        <binding protocol="http" bindingInformation="*:44331:localhost" />
        <binding protocol="https" bindingInformation="*:44332:localhost" />
    </bindings>
</site>